/* .footerFollow */

.footerFollow {
  position: absolute;
  max-width: 444px;
  width: 100%;
  height: 203px;
  bottom: 0;
  left: 52%;
  background: #ffd312;
  padding: 50px 10%;
}

.footerFollow h3 {
  font-size: 21px;
  letter-spacing: .3px;
  font-weight: 500;
  color: #3b121c;
}

.footerFollow > div {
  margin-top: -25px;
}


@media (min-width: 981px) and (max-width: 1280px) {
  .footerFollow {
    width: 265px;
    height: 243px;
    left: 66%;
    padding: 45px 65px 50px;
  }

  .footerFollow div {
    width: 150px;
    height: 100px;
    margin-top: -75px;
  }
  
  .footerFollow div ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .footerFollow div ul li {
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    margin-right: 22px !important;
  }
}

@media (min-width: 981px) and (max-width: 1050px) {
  .footerFollow {
    left: 60%;
  }
}

@media (max-width: 980px) {
  .footerFollow {
    max-height: 185px;
    height: 100%;
    top: 78%;
    left: 16%;
    max-width: 1000px;
    padding: 46px 16%;
  }

  .footerFollow div {
    width: 300px;
  }
  
  .footerFollow div ul {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
