.footerNavMenu {
  position: relative;
  box-sizing: border-box;
  background: #fff;
  color: black;
  padding-top: 95px;
  padding-left: 10%;
}

.footerNavMenu .footerLogo {
  width: 130px;
  height: 34px;
}

.footerNavMenu ul.footerMenu {
  height: 245px;
  margin-top: 48px;
  list-style: none;
}

.footerNavMenu ul.footerMenu li {
  max-height: 25px;
  height: 100%;
  margin: 14px 0;
}

.footerNavMenu ul.footerMenu li a {
  font-size: 14px;
  color: #3b121c;
  text-decoration: none;
  transition: all .15s ease-out;
  letter-spacing: .3px;
}

.footerNavMenu ul.footerMenu li a:hover {
  opacity: .5;
}

@media (max-width: 980px) {
  .footerNavMenu {
    width: 100%;
    padding: 55px 8% 103px 16%;
  }

  .footerNavMenu ul.footerMenu {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
  }

  .footerNavMenu ul.footerMenu li {
    margin: 7px 20px 7px 0;
    width: auto;
  }
}

@media (max-width: 768px) {
  .footerNavMenu.burgered {
    position: absolute;
    height: 200px;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
  }

  .footerNavMenu.burgered .footerLogo,
  .footerNavMenu.burgered .footerMenu {
    display: none;
  }

  .footerNavMenu.burgered div:last-child {
    top: 15px;
  }
}

@media (max-width: 480px) {
  .footerNavMenu.burgered div:last-child {
    height: 240px;
    top: -40px;
  }

  .footerNavMenu.burgered div:last-child ul {
    height: 100px;
    margin-top: 10px;
  }
}