/* .navMenu */

.navMenu {
  width: 223px;
  height: 40px;
  vertical-align: baseline;
  padding-top: 1px;
  color: #fff;
}

.navMenu ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navMenu ul li {
  margin: 0 25px;
}

.navMenu ul li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  transition: all .15s ease-out;
}

.navMenu ul li a:hover {
  color: #ffd312;
}

/* .activePage */

.navMenu ul li.activePage a {
  position: relative;
  color: #ffd312;
}

.navMenu ul li.activePage ul li a {
  color: #fff;
}

.navMenu ul li.activePage a:before {
  content: "";
  position: absolute;
  top: 25px;
  left: 50%;
  margin-left: -2px;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  display: block;
  background: #ffd312;
}

.navMenu ul li.activePage:nth-child(2) a:after {
  content: "";
  position: absolute;
  top: 7px;
  right: -20px;
  width: 10px;
  height: 7px;
  display: block;
  background: url(../../../assets/dropdown-yellow.svg) 0 0 no-repeat;
  background-size: 100% 100%;
}

.navMenu ul li.activePage ul li a::before {
  display: none;
}

.navMenu ul li.activePage:nth-child(2) ul li a:after {
  display: none;
}


/* activePage finsished */

.navMenu ul li:first-child {
  margin-left: 0;
}

.navMenu ul li:nth-child(2) {
  padding-right: 22px;
  position: relative;
}

.navMenu ul li:nth-child(2) a:after {
  content: "";
  position: absolute;
  top: 10px;
  right: 2px;
  width: 10px;
  height: 7px;
  display: block;
  background: url(../../../assets/dropdown-white.svg) 0 0 no-repeat;
  background-size: 100% 100%;
}

.navMenu ul li:nth-child(2) a:hover:after {
  background: url(../../../assets/dropdown-yellow.svg) 0 0 no-repeat;
}

.navMenu ul li:last-child {
  margin-right: 0;
} 


/* storeMenu  */

.navMenu ul li:nth-child(2) ul {
  display: none;
}

.navMenu ul li:nth-child(2):hover ul {
  display: block;
  position: absolute;
  width: 200px;
  top: 35px;
  display: flex;
  flex-direction: column;
}

.navMenu ul li:nth-child(2) ul li {
  margin-left: 0;
}


.navMenu ul li:nth-child(2) ul li a {
  letter-spacing: .5px;
  opacity: .5;
}

.navMenu ul li:nth-child(2) ul li:last-child {
  margin-top: 3px;
}

.navMenu ul li:nth-child(2) ul li a:hover {
  opacity: 1;
}

.navMenu ul li:nth-child(2) ul li a:after {
  content: '';
  background: none;
}

.navMenu ul li:nth-child(2) ul li a:hover:after {
  content: '';
  background: none;
}

@media (max-width: 768px) {
  .navMenu {
    display: none;
  }

  .navMenu.burgered {
    position: absolute;
    z-index: 2;
    top: 114px;
    left: 0;
    width: 100%;
    display: block;
    padding-left: 16%;
  }

  .navMenu.burgered ul {
    width: 200px;
    height: 153px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navMenu.burgered ul li {
    height: 25px;
    display: block;
    margin: 0;
    padding: 0;
  }

  .navMenu.burgered ul li.activePage a:before {
    display: none;
  }

  .navMenu.burgered ul li:nth-child(2) {
    margin-top: -63px;
  }

  .navMenu.burgered ul li:nth-child(2):hover ul {
    width: 180px;
    top: initial;
  }

  .navMenu.burgered ul li:nth-child(2) a:after {
    display: none;
  }

  .navMenu.burgered ul li:nth-child(2) ul {
    display: block;
    width: 180px;
    height: 55px;
    margin-top: 10px;
    margin-left: 20px;
  }

  .navMenu.burgered ul li:nth-child(2) ul li a {
    opacity: 1;
  }
}
