.tourPage {
  position: relative;
  display: flex;
  align-items: center;
  padding: 90px 10% 70px;
  overflow: hidden;
}

.tourPage .listPlate {
  border: 1px solid #fff;
  z-index: 1;
  background-color: rgb(59, 18, 28);
  color: rgb(229, 192, 16);
  fill: rgb(229, 192, 16);
  font-family: Kanit, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-shadow: none;
  text-transform: none;
  overflow-y: scroll;
}

.tourPage .rigthStatue {
  position: absolute;
  z-index: 0;
  top: 50px;
  right: -150px;
  height: 93%;
  width: 378px;
  overflow: hidden;
}

@media (max-width: 1280px) {
  .tourPage {
    padding-left: 7%;
    padding-right: 7%;
  }
}

@media (max-width: 980px) {
  .tourPage .rigthStatue {
    right: -33%;
    height: 97%;
    width: 800px;
  }
}
